$off-white: #FEFEFF;

.side-bar {
    position: fixed;
    left: 0; top: 0; bottom: 0;
    width: 15em;
    background: $off-white;
    text-align: center;

    a {
        color: black;
        text-decoration: none;
        font-size: 18px;
    }

    a:hover {
        color: #91B5BD;
        text-decoration: underline;
        }

    li {
        list-style: none;
        margin-top: 80px;
    }

    .logo{
        font-size: 35px;
        margin-top: 60px;
    }

    button {
        background: none;
        border: none;
        font-family: inherit;
        text-decoration: none;
        font-size: 18px;
        }
    
    button:hover {
        color: #91B5BD;
        text-decoration: underline;
        cursor: pointer;
        }
    

    footer {
        position: absolute;
        bottom: 0;
        padding-left: 40px;
        padding-bottom: 10px;
        font-size: 15px;

    }
}


