  * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  padding-left: 16em;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: url(./images/kitchen-background.png) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}